@use "../util/" as u;
@use "../globals/colors" as c;

    .qrComponent {
        max-width: 335px;
        padding: 1rem;
        background-color: c.$white;
        border-radius: 1.2rem;
        &__img{
            max-inline-size: 100%;
            block-size: auto;
            border-radius: .6rem;
        }
        &__heading{
            text-align: center;
            margin-top:1.5rem;
            font-size: 1.55rem;
            color:c.$dark-blue;
            font-family: u.$font;
        }
        &__paragraph{
            text-align: center;
            font-size: 1rem;
            padding:0 .5rem 0 .5rem;
            color:c.$grayish-blue;
            font-family: u.$font;
        }
    }